# Copyright 2022 Google LLC
#
# Use of this source code is governed by an MIT-style
# license that can be found in the LICENSE file or at
# https://opensource.org/licenses/MIT.
#
# https://adventofcode.com/2022/day/<%= day_num %>

defmodule Day<%= day_num %> do
  def part1(input) do
    :todo
  end

  def part2(input) do
    :todo
  end
end
